.App {
  background-color: red;
}
.main-div {
  width: 100%;
}
.table-score {
width: 100%;
text-align: center;

  
}
.body.score {
  text-align: center;
  border-style: solid;
} 
.country {
  text-align: center;
  width: 100%;
}
.last-child1 {
  border-style: solid;
  text-align: center;
  font-size: large;
  background-color: azure;
}
.last-child2 {
  border-style: solid;
  background-color: azure;
  font-size: large;
}



